.main-wraper {
  padding: 6% 10% 0;
}
#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the minimum height of the viewport */
}

.main-wraper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.image-div img {
  max-width: 700px;
}
